{% extends "base.html" %}
{% block content %}
<h1>Lisää huudettava asia</h1>

<form method="post" action="{{base_path}}/asia">
    <div class="form-group">
        <label>Nimi</label>
        <input name="nimi" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>hinta</label>
        <input name="hinta" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>huutoaika</label>
        <input name="huutoaika" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label>hintaosta</label>
        <input name="hintaosta" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label>lisätty</label>
        <input name="lisätty" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label>kuvaus</label>
        <textarea name="kuvaus" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endblock %}